<!DOCTYPE html>
<html>
<head>
  <title>Investify</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
  		<div class="navbar-inner">
  			<div class ="container">
  				<a href = "#" class = "brand">Investify</a>
  				<ul class = "nav">
  					<li><%= link_to "Why Investify", static_pages_whyus_path %><li>
  					<li><%= link_to "About Us", static_pages_aboutus_path %><li>	
  					<li><%= link_to "Profiler", static_pages_profiler_path %><li>
  					<li><%= link_to "Contact", static_pages_contact_path %><li>
  			</div>
  		</div>
  	</div>

	<div class="container">	
		<%= yield %>	
	</div>
</body>
</html>
